<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Post</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'home_page/img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/font_awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/mystyle/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/animate/animate.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">


</head>


<body>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="calendar-logo">
                    <img src="{% static 'style/mystyle/img/logo.png' %}" alt="">
                </div>
                <div class="all-calendar-post">
                {% for i in team_member %}
                    {% if request.user.id == i.member_id  %}
                        {% if i.member_status == 'Leader' %}
                            <table>
                        <tr class="title-calendar-opst">
                          <th >Post</th>
                          <th class="text-center">Image</th>
                          <th class="text-center">Topic</th>
                          <th class="text-center">Date</th>
{#                          <th class="text-center">Edit</th>#}
{#                          <th class="text-center">Delete</th>#}
                        </tr>

                        {% for a in all_post %}
                        <tr>
                          <td tabindex="0" class="sdfs" role="button" data-toggle="popover" data-trigger="focus" title="{{ a.text }}"><a href="{% url 'post_detail' calendars_id a.id %}"><div>{{ a.text|truncatechars:30 }}</div></a></td>
                            {% if a.post_image %}
                                <td><div class="edit-page-img-calendar"><img src="{{ a.post_image.url }}" alt=""></div></td>
                            {% endif %}
                          <td id="calendar-event-edit" class="text-center">{{ a.post_type }}</td>
                          <td id="calendar-tim-edit" class="text-center">{{ a.set_date }}</td>
{#                          <td id="edit-calendar-post" class="text-center"><a href="{% url 'edit_post' a.connection_calendar_id a.id  %}"><i class="fa fa-edit"></i></a></td>#}
{#                          <td id="delete-calendar-post" class="text-center"><a href="{% url 'post_delete' a.id  %}"><i class="fa fa-trash-alt"></i></a></td>#}
                        </tr>
                        {% endfor %}

                      </table>
                             {% else %}
                         <table>
                        <tr class="title-calendar-opst">
                          <th >Post</th>
                          <th class="text-center">Image</th>
                          <th class="text-center">Topic</th>
                          <th class="text-center">Date</th>
                          <th class="text-center">Edit</th>
                          <th class="text-center">Delete</th>
                        </tr>

                        {% for a in all_post %}
                        <tr>
                          <td tabindex="0" class=" sdfs" role="button" data-toggle="popover" data-trigger="focus" title="{{ a.text }}"><div>{{ a.text|truncatechars:30 }}</div></td>
                            {% if a.post_image %}
                                <td><div class="edit-page-img-calendar"><img src="{{ a.post_image.url }}" alt=""></div></td>
                            {% endif %}
                          <td id="calendar-event-edit" class="text-center">{{ a.post_type }}</td>
                          <td id="calendar-tim-edit" class="text-center">{{ a.set_date }}</td>
                          <td id="edit-calendar-post" class="text-center"><a href="{% url 'edit_post' a.connection_calendar_id a.id  %}"><i class="fa fa-edit"></i></a></td>
                          <td id="delete-calendar-post" class="text-center"><a href="{% url 'post_delete' a.id  %}"><i class="fa fa-trash-alt"></i></a></td>
                        </tr>
                        {% endfor %}

                      </table>
                        {% endif %}


                    {% endif %}
                {% endfor %}

                <div>
                    {% for x in save_comment %}
                        <ul>
                        <l1>{{ x.comment }}</l1>
                        </ul>
                    {% endfor %}
                <ul>
                    <l1 id="create_comment"></l1>
                </ul>
                </div>
                <form method="POST">
                   {% csrf_token %}
               {% for t in team_member %}
                   {% if request.user.id == t.member_id  %}
                       {% if t.member_status == 'Leader' %}
                            <textarea name="comment" id="cmnt"></textarea>
                            <input class="save-comment" type="submit">
                            <button class="btn btn-dark">Facebook Sharing</button>
                           {% else %}
                           <input class="involve-team" type="submit" value="Involve TeamLead" name="involve_teamlead">
                           <input class="complete-in" type="submit" value="Complete" name="complete">
                       {% endif %}
                   {% endif %}

               {% endfor %}
                 </form>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'style/bootstrap/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'style/bootstrap/jquery/popper.min.js' %}"></script>
    <script src="{% static 'style/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'style/font_awesome/js/all.min.js' %}"></script>
    <script>
        $(document).submit('.save-comment', function (e) {
            e.preventDefault();

        var comment = $('#cmnt').val()
        console.log(comment)

        $.ajax({
            url: "{% url 'comment_save' calendars_id years months days %}",
            method: "POST",
            data:{
                comment:comment,
                csrfmiddlewaretoken: "{{ csrf_token }}",

            },

            success: function (data) {
                var c = data['comment']
                $('#create_comment').html(c)


            },

            error: function (xhr, err, msg) {
                console.log(xhr, err, msg);
            }
        });
   })
    </script>
</body>
</html>
