<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'home_page/img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/font_awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/mystyle/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/animate/animate.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
     <!-- calendar css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</head>
<body id = "load">
    <!-- left menu -->
    <div class="left-menu">
        <a href="{% url 'index' %}" class="dashboard-div">
            <img src="{% static 'style/mystyle/img/dashboard-logo.png' %}" alt="" class="dashboard-img">
        </a>
        <div class="icon-left">
            <a href="{% url 'dashboard' %}" class="icon-a " tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Dismissible popover"><img class="menu-icon-left" src="{% static 'style/mystyle/img/layout.png' %}" alt=""></a>
            <a href="#" class="icon-a icon-active" tabindex="0" class="btn btn-lg btn-danger" role="button"
                data-toggle="popover" data-trigger="focus" title="Dismissible popover"><img class="menu-icon-left"
                                                                                              src="{% static 'style/mystyle/img/calendar.png' %}" alt=""></a>
            <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Dismissible popover"><img class="menu-icon-left" src="{% static 'style/mystyle/img/image%20(1).svg' %}"
                    alt=""></a>
            <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Dismissible popover"><img class="menu-icon-left" src="{% static 'style/mystyle/img/link%20(1).svg' %}"
                    alt=""></a>
            <a href="" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Dismissible popover"><img class="menu-icon-left" src="{% static 'style/mystyle/img/users%20(1).svg' %}"
                    alt=""></a>
        </div>
        <div class="setting-div">
            <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Setting"><img class="menu-icon-left" src="{% static 'style/mystyle/img/settings.svg' %}" alt=""></a>
        </div>
    </div>
    <div class="dashboard-all  ">

        <!-- menu -->
        <div class="sticky-top stick-top">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="menu-all">
                            <div class="project">Events calendar</div>
                            <div class="a-links ">

                            </div>
                            <a href="{% url 'settings' request.user.id %}">
                                <div class="users">
                                <div class="user-name">{{ request.user.username }}</div>
                                <div class="user-img-div ">
                                {% if request.user.profile_photo %}

                                    <img src="{{ request.user.profile_photo.url }}" alt=""
                                         class="profile-img">

                                {% else %}
                                    <img src="{% static './style/mystyle/img/Rectangle 10.png' %}" alt=""
                                         class="profile-img">
                                {% endif %}
                            </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="menu-section-5">
                            <div class="calendar-timme ">
                                Month 2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <form method="POST" action="#">
            {% csrf_token %}
            <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id='calendar'>
                        <div class="calendar-grid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
       </form>

    {% for i in team_members %}
         {% if request.user.id == i.member_id  %}
             {% if i.member_status == 'Leader' %}

                 {% else %}
                 <!-- modal button -->
        <a href="{% url 'add_post' calendars_id %}">
        <div class="button-open">
            <div class="btn-menu c-btn click-open-close btn-menu_active ">
                <span></span>
            </div>
        </div>
        </a>
             {% endif %}

         {% endif %}
    {% endfor %}




        <!-- modal 2 -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-calendar-dialoq" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title modal-2-mounth" id="exampleModalLongTitle"></h5>

                </div>

                <div class="modal-footer ">
                  <button type="button" class="btn modal-close-btnn" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
          </div>

    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'style/bootstrap/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'style/bootstrap/jquery/popper.min.js' %}"></script>
    <script src="{% static 'style/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'style/font_awesome/js/all.min.js' %}"></script>
<script>
    var calendarId = "{{ calendars_id }}";
</script>

        {{ finish_data|json_script:"hello-data" }}

    <script src="{% static 'style/mystyle/js/calendar.js' %}"></script>

<script src="{% static 'style/mystyle/js/img.js' %}"></script>
    <!-- calendar js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{% static 'style/mystyle/js/date.js' %}"></script>
    <script src="{% static 'style/mystyle/js/img.js' %}"></script>
</body>
</html>