<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'home_page/img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/font_awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/mystyle/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/animate/animate.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
     <!-- calendar css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</head>
<body id = "load">

    <!-- left menu -->
    <div class="left-menu">
        <a href="" class="dashboard-div">
            <img src="{% static 'style/mystyle/img/dashboard-logo.png' %}" alt="" class="dashboard-img">
        </a>
        <div class="icon-left">
            <a href="{% url 'dashboard' %}" class="icon-a " tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Dismissible popover"><img class="menu-icon-left" src="{% static 'style/mystyle/img/layout.png' %}" alt=""></a>
            <a href="#" class="icon-a icon-active" tabindex="0" class="btn btn-lg btn-danger" role="button"
                data-toggle="popover" data-trigger="focus" title="Dismissible popover"><img class="menu-icon-left"
                                                                                              src="{% static 'style/mystyle/img/calendar.png' %}" alt=""></a>
            <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Dismissible popover"><img class="menu-icon-left" src="{% static 'style/mystyle/img/image%20(1).svg' %}"
                    alt=""></a>
            <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Dismissible popover"><img class="menu-icon-left" src="{% static 'style/mystyle/img/link%20(1).svg' %}"
                    alt=""></a>
            <a href="" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Dismissible popover"><img class="menu-icon-left" src="{% static 'style/mystyle/img/users%20(1).svg' %}"
                    alt=""></a>
        </div>
        <div class="setting-div">
            <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                title="Setting"><img class="menu-icon-left" src="{% static 'style/mystyle/img/settings.svg' %}" alt=""></a>
        </div>
    </div>

    <div class="dashboard-all">
       <!-- menu -->
    <div class="sticky-top stick-top-2">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="menu-all">
                        <div class="project">Post Add</div>
                        <div class="a-links " >
                            <a class=" link-a active" href="{% url 'dashboard' %}">All Projects

                            </a>
                            <a class=" link-a" href="{% url 'calendar' id %}">Calendar

                            </a>
{#                            <a class=" link-a link-red" href="{% url 'settings'  %}">Requires attention#}
{#                                <div class="link-number">{{ countrequired }}</div>#}
{#                            </a>#}
                            <a class=" link-a" href="{% url 'logout' %}">Log out</a>
                            {#                            <a class=" link-a" href="#">On Hold</a>#}
                            {#                            <a class=" link-a" href="#"> Archive</a>#}
                        </div>
                        <a href="{% url 'settings' request.user.id %}">
                            <div class="users">
                            <div class="user-name">{{ request.user.username }}</div>
                            <div class="user-img-div ">
                                {% if request.user.profile_photo %}

                                    <img src="{{ request.user.profile_photo.url }}" alt=""
                                         class="profile-img">

                                {% else %}
                                    <img src="{% static './style/mystyle/img/Rectangle 10.png' %}" alt=""
                                         class="profile-img">
                                {% endif %}
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="post-add">
                <form enctype="multipart/form-data" method="POST" class=".my-ajax" action="">
                                {% csrf_token %}


                    <div class="modal-bod pl-2 pr-2 pt-2">
                        {% render_field forms.text  class="calendar-input pt-2"  id='postContent' data-id="nonee" cols="30" rows="10" %}
                    </div>
                    <div class="modal-footer">

                            <div class="row">

                                <div class="col cla-col">
                                    <div class="logoContainer">
                                    <img src="{% static 'style/mystyle/img/Group 152.png' %}">
                                    </div>
                                    <div class="fileContainer sprite">
                                    <div>choose file</div>
                                        {% render_field forms.post_image  %}
                                    </div>

                                </div>
                                <div class="col cla-col">

                                    {% render_field forms.post_type id="inputState" class="form-control" %}

                                </div>

                                 <div class="col cla-col">
                                <label  class="label-calendar" for="">SET date SET TIME</label>

                               <div class='input-group date' id='datetimepicker1{{ forloop.counter }}'>
                                    {% render_field forms.set_date class="calender-date-input" id="date calendar-date-input" %}
                                   <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </div>

                            </div>
                            <div class="modal-foote text-right pr-3 pb-3">
                                <button type="submit" id="create" class="'btn calander-done">
                                    Save
                                </button>
                            </div>


                    </div>
{#                </div>#}
                 </form>
    </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'style/bootstrap/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'style/bootstrap/jquery/popper.min.js' %}"></script>
    <script src="{% static 'style/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'style/font_awesome/js/all.min.js' %}"></script>
    <script src="{% static 'style/mystyle/js/calendar.js' %}"></script>

<script src="{% static 'style/mystyle/js/img.js' %}"></script>
    <!-- calendar js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{% static 'style/mystyle/js/date.js' %}"></script>
    <script src="{% static 'style/mystyle/js/img.js' %}"></script>
</body>
</html>