<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Post detail</h1>
 {% for detail in details %}
    <div>{{ detail.text }}</div>
     <div><img width="200px" height="200px" src="{{ detail.post_image.url }}"></div>
     <div>{{ detail.post_type }}</div>
     <div>{{ detail.set_date }}</div>
 {% endfor %}
</body>
</html>