<!DOCTYPE html>
{% load socialaccount %}
{% providers_media_js %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="">
    {% csrf_token %}
    <textarea name="shared_text" id="shared_text"></textarea>
    <button class="btn btn-dark">Facebook Sharing</button>
    <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>

</form>f
</body>
</html>