{% extends 'main_base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}

{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="sign-all ">
                    <div class="sign-in register">
                        <div class="logo-div mx-auto d-block">
                            <img class="logo-img " src="{% static './style/mystyle/img/logo.png' %}" alt="">
                        </div>

                        <form method="POST" class="form-sign-in" class="registerForm">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="email-div">


                                    {% render_field field class='sign-email-password' placeholder=field.label %}
                                    {% if field.errors %}
                                        {% for msg in field.errors %}
                                            <span class="text-danger">{{ msg }}</span>
                                        {% endfor %}
                                    {% endif %}


                                </div>
                            {% endfor %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="text-danger" style="font-size: 14px">{{ message }}</p>
                                {% endfor %}
                            {% endif %}


                            <div class="create-button">
                                <button class="create-team" type="submit">Change Password</button>
                            </div>
                            <div class="sign-reset text-center">
                                <a class="sing-a" href="{% url 'index' %}">home</a>
                            </div>

                        </form>
                        {#                    <form class="form-sign-in" method="post">#}
                        {#                        {% csrf_token %}#}
                        {#                        {% for field in form %}#}
                        {#                            <div class="email-div">#}
                        {#                                {% render_field field class='sign-email-password' placeholder=field.label %}#}
                        {#                            </div>#}
                        {#                        {% endfor %}#}
                        {#                        <div class="create-button">#}
                        {#                            <button class="create-team" type="submit">Register</button>#}
                        {#                        </div>#}
                        {#                        <div class="sign-reset text-center">#}
                        {#                            <a class="sing-a" href="{% url 'login' %}">sign in</a>#}
                        {#                        </div>#}
                        {#                    </form>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
