<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ home_title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'home_page/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'home_page/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'home_page/vendor/simple-line-icons/css/simple-line-icons.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'home_page/img/favicon.png' %}"/>
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{% static 'home_page/device-mockups/device-mockups.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'home_page/css/main.css' %}" rel="stylesheet">

</head>

<body id="page-top">

{% if  request.user.is_authenticated %}
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">
        <img src="{% static 'home_page/img/aidatoolkit-logo.png' %}" class="img-fluid" alt="aidatoolkit-logo" style="max-height:32px" id="mainLogo">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Subscribe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'change_password' %}">Change Password</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'settings' request.user.id %}">User Settings</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'dashboard' %}">Projects</a>
          </li>
             <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-6 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">All you need in SMM:<br> cozy planning, <br>right on time posting, <br>team collaboration.</h1>

            <a href="{% url 'index' %}" class="btn btn-outline btn-xl js-scroll-trigger">Home page</a>
          </div>
        </div>
        <div class="col-lg-6 my-auto">
          <div class="device-container" style="max-width: 100%">
            <div class="device-mockup imac portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
<!--
                  <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
-->
                  <img src="{% static 'home_page/img/demo-screen.png' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="{% static 'home_page/img/aidatoolkit-logo.png' %}" class="img-fluid" alt="aidatoolkit-logo" style="max-height:32px" id="mainLogo">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Subscribe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
<li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'register' %}">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
     <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-6 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">All you need in SMM:<br> cozy planning, <br>right on time posting, <br>team collaboration.</h1>

            <a href="{% url 'register' %}" class="btn btn-outline btn-xl js-scroll-trigger">Free sign up!</a>
          </div>
        </div>
        <div class="col-lg-6 my-auto">
          <div class="device-container" style="max-width: 100%">
            <div class="device-mockup imac portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
<!--
                  <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
-->
                  <img src="{% static 'home_page/img/demo-screen.png' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endif %}
  <!-- Navigation -->


  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">One and only app for whole SMM thing!</h2>
          <p>Our app is available on any mobile device.</p>
<!--          <div class="badges">
            <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
            <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
          </div>-->
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Unlimited Features, Unlimited Fun</h2>
        <h2>Perfect Content!</h2>
        <p class="text-muted">Check out what you can do with AIDAtoolkit!</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container mb-3" style="max-width: 100%">
            <div class="device-mockup macbook_2015 portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'home_page/img/demo-screen-2.png' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>

          <div class="device-container" style="max-width: 100%">
            <div class="device-mockup surface portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'home_page/img/demo-screen-3.png' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Any device</h3>
                  <p class="text-muted">Internet access and browser is all you need to work with your team. Or alone.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>Your storage</h3>
                  <p class="text-muted">Store all your media, briefs, content, brand information in one place.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>Grow and earn</h3>
                  <p class="text-muted">Invite a friend and get 6 month for free. Your friend will get 6 month too!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock-open text-primary"></i>
                  <h3>Share with customers</h3>
                  <p class="text-muted">Share content plan with customers. Edit, review, approve - together!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Save time.<br>Collaborate.</h2>
        <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  <section class="contact bg-message" id="message_us">
    <div class="container-fluid" id="sign_up">
      <div class="row bg-event-6-hover" style="min-height: 300px;height: 70vh"  id="OK_message">
        <div class="col-8 text-center m-auto p-3 text-dark rounded">
          <h3 class="text-white">Dear like-minded!</h3>
          <a href="https://m.me/AIDAtoolkit" class="btn bg-white trainer-shadow" target="_blank">
            <div class=" d-flex align-items-center text-dark"><i class="fab fa-facebook-messenger fa-3x mr-2 text-color-facebook-messenger"></i> Message us
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>We
        <i class="fas fa-heart"></i>
        new friends!</h2>
      <ul class="list-inline list-social">

        <li class="list-inline-item social-facebook">
          <a href="https://www.facebook.com/AIDAtoolkit/">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; AIDAtoolkit 2020. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home_page/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home_page/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'home_page/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'home_page/js/main.js' %}"></script>

</body>

</html>
