{% extends 'main_base.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="sign-all ">
                    <div class="sign-in register">
                        <div class="logo-div mx-auto d-block">
                            <img class="logo-img " src="{% static './style/mystyle/img/logo.png' %}" alt="">
                        </div>
                        <form class="form-sign-in" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="email-div">
                                    {% render_field field class='sign-email-password' placeholder=field.label %}
                                </div>
                                {% if field.errors %}
                                    {% for msg in field.errors %}
                                        <p class="text-danger" style="font-size: 14px">{{ msg }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            <div class="create-button">
                                <button class="create-team" type="submit">Register</button>
                            </div>
                            <div class="sign-reset text-center">
                                <a class="sing-a" href="{% url 'login' %}">sign in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}