{% extends 'main_base.html' %}
{% load static %}
{% block title %} User Settings {% endblock %}
{% load widget_tweaks %}
{% block content %}

     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'change_password' %}">Change Password</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'settings' request.user.id %}">User Settings</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'dashboard' %}">Projects</a>
          </li>
             <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container emp-profile">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="logo-div mx-auto d-block">
                        <a href="{% url 'index' %}">
                        <img class="profile-logo  " src="{% static './style/mystyle/img/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">

                                    <div class="logoContainer">

                                    <img src="{{ edit_user.profile_photo.url }}">
                                    </div>
                                    <div class="fileContainer sprite">

                                    <div>Choose file</div>
                                        {% render_field form.profile_photo  %}
                                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                {% render_field form.username class='form-control profile-inputt' placeholder='Username' %}
                            </div>
                            <div class="col">
                                {% render_field form.first_name class='form-control profile-inputt' placeholder='First Name' %}
                            </div>
                            <div class="col">
                                {% render_field form.last_name class='form-control profile-inputt' placeholder='Last Name' %}
                            </div>

                        </div>
                        <div class="row mt-3 mb-3">
                            <div class="col">
                                {% render_field form.city class='form-control profile-inputt' placeholder="City" %}
                            </div>
                            <div class="col">
                                {% render_field form.country class='form-control profile-inputt' placeholder="Country" %}
                            </div>

                        </div>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-4">
                                {% render_field form.gender class='form-control profile-inputt' placeholder=field.label %}

                            </div>

                        </div>
                        <div class="row">
                            <div class="col" style="display: flex">
                                {% render_field form.birthday class='form-control profile-inputt' placeholder=field.label %}
                            </div>
                        </div>

                    </form>
                    {% if messages %}
                                {% for message in messages %}
                                    <p class="text-success" style="font-size: 14px">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                    <button type="submit" class=" btn-lg btn-block profile-cahnhe-button">Change Settings</button>
                </div>


            </div>
        </form>
    </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock %}
