<!-- edit project modal-->

{% load widget_tweaks %}
{% load static %}

<style>

    #asigment-create2 {
        background: #F1556B !important;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        border: 1px solid #F1556B !important;
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        padding: 5px 8px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>


<div class="create-project-important-all">
    <div class="important-project">
        <div class="container">
            <form enctype="multipart/form-data"  method="post" action="{% url 'dash-edit' teammember.id %}" id="myForm">
            <div class="row ">


                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
{#                        <div class="edit-curent-div">#}
{##}
{#                            {% if picture %}#}
{#                                <button class="edit-button-img remove-img">x</button>#}
{#                                <img id="team-picture" src="{{ picture.url }}" alt=""#}
{#                                     class="edit-create-img-cureent">#}
{#                                <input style="display: none" name="team-picture" id="form-picture" type="file">#}
{#                            {% else %}#}
{#                                #}
{#                            {% endif %}#}
{##}
{#                        </div>#}
                        <div class="logoContainer" id="logo-edit-dashboard-up">
                                    <img src="{{ picture.url }}">
                                    </div>
                                    <div class="fileContainer sprite">
                                    <div>choose file</div>
                                        {% render_field form.team_picture  %}
                                    </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <div class="">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03" class="label-name">Project
                                        name</label>
                                    {% render_field form.team_name class='form-control create-project-input' placeholder='Project' %}

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="label-name" for="validationCustom04">Start
                                        date</label>
                                    {% render_field form.start_time class='form-control create-project-input' placeholder='Project' %}

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="label-name" for="validationCustom05">Completion
                                        date</label>
                                    {% render_field form.end_time class='form-control create-project-input' placeholder='Project' %}

                                </div>
                                <div class="col-md-12 mb-3">
                                    <label class="label-name" for="validationCustom05">BRIEF</label>
                                    {% render_field form.description class='form-control create-project-input' placeholder='Project' %}

                                </div>

                                <div class="col-md-4 mb-3 ">
                                    <label for="validationCustom03" class="label-name">Assigness
                                    </label>
                                    <div class="vv assigness">
                                        {% if members %}
                                            {% for field in members %}
                                                <input type="text"
                                                       class="form-control create-project-input pt-2 asigment-create"
                                                       placeholder="Start typing an employee's last name or nickname"
                                                       id="validationCustom03" value="{{ field.member.email }}"
                                                       name="assinger">

                                            {% endfor %}
                                        {% else %}
                                            <input type="text"
                                                   class="form-control create-project-input pt-2 asigment-create"
                                                   placeholder="Start typing an employee's last name or nickname"
                                                   id="validationCustom03" name="assinger">

                                        {% endif %}


                                    </div>
                                </div>
                                <div class="col-md-4 mb-3 ">
                                    <label for="validationCustom03" class="label-name">Position
                                    </label>
                                    <div class="vv position">
                                        {% if members %}
                                            {% for field in members %}
                                                <input type="text"
                                                       class="form-control create-project-input pt-2 asigment-create"
                                                       placeholder="Start typing an employee's last name or nickname"
                                                       id="validationCustom03" value="{{ field.member_status }}"
                                                       name="position">

                                            {% endfor %}
                                        {% else %}
                                            <input type="text"
                                                   class="form-control create-project-input pt-2 asigment-create"
                                                   placeholder="Start typing an employee's last name or nickname"
                                                   id="validationCustom03" name="position">

                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03" class="label-name">Manager
                                    </label>
                                    <input type="text" class="form-control create-project-input"
                                           placeholder="Start typing an employee's last name or nickname"
                                           id="validationCustom03" value="{{ leader.member.email }}" name="manager">
                                    <button  type="button" class="asigment-create2">+
                                    </button>
                                </div>


                                <div class="col-md-12">
                                    <div class="create-project-title mb-2">
                                        POSTING ON
                                    </div>
                                    <div class="project-create-sosial">
                                        <button class="create-p-sosial face-create ">Facebook</button>
                                       </div>
                                </div>




                            </div>
                        <div class="modal-footer end-content-start-b">

                        <button type="submit" id="sub" class="btn start-project-button">Start project</button>
                    </div>
                        </div>
                    </div>



            </div>
            </form>
        </div>
    </div>
</div>


<script src="{% static 'style/mystyle/js/edit.js' %}"></script>
<script src="{% static 'style/mystyle/js/img.js' %}"></script>


