<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'home_page/img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static './style/font_awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static './style/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './style/mystyle/css/style.css' %}">
    <link rel="stylesheet" href="{% static './style/animate/animate.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">

</head>
<body>

<!-- left menu -->
<div class="left-menu">
    <a href="{% url 'index' %}" class="dashboard-div">
        <img src="{% static './style/mystyle/img/dashboard-logo.png' %}" alt="" class="dashboard-img">
    </a>
    <div class="icon-left">
        <a href="#" class="icon-a icon-active" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
           title="Dismissible popover"><img class="menu-icon-left" src="{% static './style/mystyle/img/layout.svg' %}"
                                            alt=""></a>
        <a href="#" class="icon-a " tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover"
           data-trigger="focus" title="Dismissible popover"><img class="menu-icon-left"
                                                                 src="{% static './style/mystyle/img/calendar (1).svg' %}"
                                                                 alt=""></a>
        <a href="" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
           title="Dismissible popover"><img class="menu-icon-left"
                                            src="{% static './style/mystyle/img/image (1).svg' %}"
                                            alt=""></a>
        <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
           title="Dismissible popover"><img class="menu-icon-left" src="{% static './style/mystyle/img/link (1).svg' %}"
                                            alt=""></a>
        <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
           title="Dismissible popover"><img class="menu-icon-left"
                                            src="{% static './style/mystyle/img/users (1).svg' %}"
                                            alt=""></a>
    </div>
    <div class="setting-div">
        <a href="#" class="icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
           title="Setting"><img class="menu-icon-left" src="{% static './style/mystyle/img/settings.svg' %}" alt=""></a>
    </div>
</div>

<!-- dashbord card -->

<div class="dashboard-all  ">

    <!-- menu -->
    <div class="sticky-top stick-top">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="menu-all">
                        <div class="project">Projects</div>
                        <div class="a-links " >
                            <a class=" link-a active" href="{% url 'dashboard' %}">Active All
                                <div class="link-number">{{ countall }}</div>
                            </a>
                            <a class=" link-a" href="{% url 'my-active' %}">Active My
                                <div class="link-number">{{ countmy }}</div>
                            </a>
                            <a class=" link-a link-red" href="{% url 'required' %}">Requires attention
                                <div class="link-number">{{ countrequired }}</div>
                            </a>
                            <a class=" link-a" href="{% url 'finish' %}">Finished</a>
                            {#                            <a class=" link-a" href="#">On Hold</a>#}
                            {#                            <a class=" link-a" href="#"> Archive</a>#}
                        </div>
                        <a href="{% url 'settings' request.user.id %}">
                            <div class="users">
                            <div class="user-name">{{ request.user.username }}</div>
                            <div class="user-img-div ">
                                {% if request.user.profile_photo %}

                                    <img src="{{ request.user.profile_photo.url }}" alt=""
                                         class="profile-img">

                                {% else %}
                                    <img src="{% static './style/mystyle/img/Rectangle 10.png' %}" alt=""
                                         class="profile-img">
                                {% endif %}
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="menu-section-2">
                        <div class="search-div">
                            {% if request.path == '/dashboard/my/project/' %}
                                <form action="{% url 'my-active' %}" method="get">

                            {% elif request.path == '/dashboard/' %}
                                <form action="{% url 'dashboard' %}" method="get">

                            {% elif request.path == '/dashboard/finished/' %}
                                <form action="{% url 'finish' %}" method="get">

                            {% elif request.path == '/dashboard/required/' %}
                                <form action="{% url 'required' %}" method="get">

                            {% endif %}
                            <div class="input-group input-dashboard ">
                                <div class="input-group-prepend">
                                    <img class="input-group-text "
                                         src="{% static './style/mystyle/img/Group 74.png' %}"
                                         alt="">
                                </div>
                                <input name="search" type="text" class="form-control"
                                       placeholder="Search by project name"
                                       aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            </form>
                        </div>
                        <div class="sort-div">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- project-team -->
    <div class="container-fluid">
        <div class="row">
            {% for field in team %}
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 ">
                    <div class="team-cart">
                        <div class="media">
                            {% if field.team.user == request.user %}
                                <div data-url="{% url 'dash-edit' field.team.id %}" class="user-project-edit"
                                     data-dismiss="modal" aria-hidden="true" data-toggle="modal"
                                     data-target="#exampleModalLongEdit"><i class="fas fa-edit"></i></div>
                                <div  class="user-project-delete"><a href="{% url 'dash-delete' field.team.id %}"><i class="fas fa-trash-alt"></i></a></div>

                                {% for calendar in calendar_data %}
                                     {% if field.team.id == calendar.connetion_team_id %}
                                        <div  class="user-project-calendar-id"><a href="{% url 'calendar' calendar.id %}"><i class="fas fa-calendar-alt"></i></a></div>
                                    {% endif %}
                                {% endfor %}

                            {% else %}
                                {% for calendar in calendar_data %}
                                     {% if field.team.id == calendar.connetion_team_id %}
                                        <div  class="user-project-calendar-id-2"><a href="{% url 'calendar' calendar.id %}"><i class="fas fa-calendar-alt"></i></a></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        {% if field.team.team_picture %}

                                <img src="{{ field.team.team_picture.url }}"
                                     class="mr-3 team-img"
                                     alt="...">
                            {% endif %}
                            <div class="media-body">
                                <h5 class="mt-0 team-name" data-url="{% url 'detail' field.team.id %}"
                                    data-dismiss="modal" aria-hidden="true" data-toggle="modal"
                                    data-target="#exampleModalLongUser">{{ field.team.team_name }}</h5>
                                <h6 class="team-time">
                                    <time datetime="2016-02-04 22:30">{{ field.team.start_time }}</time>

                                </h6>
                            </div>
                        </div>
                        <div class="team-cart-line"></div>
                        <div style="padding: 5px 15px; padding-bottom: 18px!important;" class="alt">
                            <h3 class="posting-on">
                                Posting on:
                            </h3>
                            <div class="sosial-buttons">
                                <button class="sosial-buttun facebook" type="button">Facebook</button>

                            </div>
                            <h3 class="posting-on">
                                Project members:
                            </h3>
                            <div class="team-users" data-dismiss="modal" aria-hidden="true" data-toggle="modal"
                                 data-target="#exampleModalLongUser">
                                {% for i in test %}
                                    {% if i.team.id == field.team.id %}
                                        <img src="{{ i.member.profile_photo.url }}" alt=""
                                             class="user-img">

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <!-- modal button -->
    <div class="button-open" data-dismiss="modal" aria-hidden="true" data-toggle="modal"
         data-target="#exampleModalLong">
        <div class="btn-menu click-open-close btn-menu_active ">
            <span></span>
        </div>
    </div>


    <!-- create project modal -->
    <div class="modal fade " id="exampleModalLong" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog create-project animated fadeInLeft" role="document">
            <div class="modal-content modal-oz">
                <div class="modal-left-logog">
                    <div class="create-project-card-img-div">
                        <img class="create-project-card-img" src="{% static '/style/mystyle/img/dashboard-logo.png' %}" alt="">
                    </div>
                </div>
                <!-- <div class="">
                    <button type="button" class="close create-projeect-close-button" data-dismiss="modal">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div> -->
                <!-- create-project modal -->
                <div class="modal-body create-project-body">
                    <div class="create-project-important-all">
                        <div class="important-project">
                            <div class="container">

                                    <form method="post" enctype="multipart/form-data" >
                                     <div class="row ">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                    <div class="logoContainer" id="logo-edit-dashboard-up">
                                    <img src="{% static 'style/mystyle/img/Group 152.png' %}">
                                    </div>
                                    <div class="fileContainer sprite">
                                    <div>choose file</div>
                                        {% render_field form.team_picture  %}
                                    </div>

                                </div>
                                        <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                            <div class="">

                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="validationCustom03" class="label-name">Project
                                                            name</label>
                                                        {% render_field form.team_name class='form-control create-project-input' placeholder='Project' %}

                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label class="label-name" for="validationCustom04">Start
                                                            date</label>


                                                        {% render_field form.start_time class='form-control create-project-input' placeholder='Project' %}

                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label class="label-name" for="validationCustom05">Completion
                                                            date</label>

                                                        {% render_field form.end_time class='form-control create-project-input' placeholder='Project' %}

                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <label class="label-name" for="validationCustom05">BRIEF</label>
                                                        {% render_field form.description class='form-control create-project-input' placeholder='Project' %}

                                                    </div>

                                                    <div class="col-md-8 mb-3 ">
                                                        <label for="validationCustom03" class="label-name">Assigness
                                                        </label>

                                                        <div class="vv assigness">
                                                             <div class="das-num-sayyy p-0" id="new_chq" >
{#                                                                <li class="li-elave-all">#}

                                                                    <div class="d-flex das-num-say">

                                                                        <input type="text"  class='number-add-edit' placeholder="1" name='model_size_ids[]' value='1' disabled="disabled">
                                                                        <input type="text"
                                                                   class="form-control create-project-input pt-2 asigment-create mr-1"
                                                                   placeholder="Email"
                                                                   id="validationCustom03" name="assinger">
                                                                 <input type="text"
                                                                   class="form-control create-project-input pt-2 asigment-create"
                                                                   placeholder="Position"
                                                                   id="validationCustom03" name="position">
                                                                    </div>
{#                                                                </li>#}
                                                            </div>
                                                            <input type="hidden" value="1" id="total_chq">


                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 mb-3">
                                                        <label for="validationCustom03" class="label-name">Manager
                                                        </label>
                                                        <input type="text" class="form-control create-project-input"
                                                               placeholder="Teamlead"
                                                               id="validationCustom03" name="manager">
                                                        <button id="asigment-create" type="button" onclick="add()" class="asigment-create2">+
                                                        </button>
                                                        <button id="asigment-create" type="button" class="asigment-dele2" onclick="remove()">-
                                                        </button>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="create-project-title mb-2">
                                                            POSTING ON
                                                        </div>
                                                        <div class="project-create-sosial">
                                                            <button class="create-p-sosial face-create" type="button">
                                                                Facebook
                                                            </button>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer end-content-start-b">

                                                    <button type="submit" class="btn start-project-button">Start
                                                        project
                                                    </button>
                                                </div>


                                </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>

<!-- edit project modal -->

<div class="modal fade" id="exampleModalLongEdit" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog create-project animated fadeInLeft" role="document">
        <div class="modal-content modal-oz">
            <div class="modal-left-logog">
                <div class="create-project-card-img-div">
                    <img class="create-project-card-img" src="./style/mystyle/img/dashboard-logo.png" alt="">
                </div>
            </div>
            <div class="">
                <button type="button" class="close create-projeect-close-button" data-dismiss="modal">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <!-- edit-prject -->
            <div id="edit-body" class="modal-body edit-project-body">

            </div>

        </div>
    </div>

</div>


<!-- user coment -->
<div class="modal fade" id="exampleModalLongUser" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog create-project animated fadeInLeft" role="document">
        <div class="modal-content modal-oz">
            <div class="modal-left-logog">
                <div class="create-project-card-img-div">
                    <img class="create-project-card-img" src="./style/mystyle/img/dashboard-logo.png" alt="">
                </div>
            </div>
            <div class="">
                <button type="button" class="close create-projeect-close-button" data-dismiss="modal">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>

            <div class="modal-body edit-project-body  chaaaa" id="myDIV">

            </div>


        </div>
    </div>
</div>


</div>

<script src="{% static 'style/mystyle/js/edit.js' %}"></script>
<script>

    $(document).on('click', '.mt-0', function () {
        data_url = $(this).attr('data-url')
        console.log('detail url',data_url)

        $.ajax({
            url: data_url,
            method: "GET",

            success: function (data) {
                console.log(data)
                $('#myDIV').html(data)


            },

            error: function (xhr, err, msg) {
                console.log(xhr, err, msg);
            }
        });

    });


    $(document).on('click', '.user-project-edit', function () {

        var url = $(this).attr('data-url');
        console.log(url)
        $.ajax({
            url: url,
            method: "GET",


            success: function (data) {
                console.log(data)
                $('#edit-body').html(data)


            },

            error: function (xhr, err, msg) {
                console.log(xhr, err, msg);
            }
        });

    })
</script>
<script src="{% static './style/bootstrap/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static './style/bootstrap/jquery/popper.min.js' %}"></script>
<script src="{% static './style/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static './style/font_awesome/js/all.min.js' %}"></script>
<script src="{% static './style/mystyle/js/style.js' %}"></script>
<script src="{% static 'style/mystyle/js/img.js' %}"></script>
<script>
    $('.a-links  > .link-a').on('click', function() {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
  });
</script>
</body>
</html>
