/* sign in and create page */
.register{
    -ms-transform: translate(-50%, 30%)!important;
    transform: translate(-50%, 30%)!important;
}
.sign-all{
    position: relative;
}
.sign-all .sign-in{
    width: 240px;
    height: 332px;
    position: absolute;
    top: 50%;
    left: 50%;  
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.sign-in .logo-div{
    width: 187.43px;
    height: 40px;
}
.sign-in .logo-div .logo-img{
    width: 100%;
    height: 100%;
}
.form-sign-in .team-div{
    display: flex;
}
.team-div .team-name{
    width: 140px;
    height: 44px;
    top: calc(50% - 44px/2 - 74px);
    background: #F3F5F6;
    border: 1px solid #F3F5F6;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #A3AFB6;
}
.team-div .aidatoolkit{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    margin-left: 4px;
    color: #000000;
    cursor: pointer;
}
.form-sign-in .email-div{
    margin: 10px 0;
}
.form-sign-in .email-div .sign-email-password{
    width: 240px;
    height: 44px;
    background: #F3F5F6;
    border-radius: 10px;
    border: 1px solid #F3F5F6;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #A3AFB6; 
}
.sign-in .form-sign-in{
    padding: 27px 0;
}
.form-sign-in .create-button .create-team{
    width: 240px;
    height: 44px;
    background: #F1556B;
    border: 1px solid #F1556B;
    box-shadow: 0px 4px 10px rgba(216, 57, 79, 0.25);
    border-radius: 10px;
    font-family:'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 13px 0;
    cursor: pointer;
}
.form-sign-in .sign-reset{
    padding: 10px 0;
}
.sign-reset .sing-a{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #F1556B;
    padding: 0 3px;
}
.sign-reset .sing-a:hover{
    text-decoration: none;
    color: #F1556B;
}
.form-sign-in input:focus{
    outline: none;
}
.sign-email-password:focus{
    text-align: left!important;
    padding-left: 20px;
    transition: all .3s ease-in-out;
}
.team-name:focus{
    text-align: left;
    padding-left: 10px;
    transition: all .3s ease-in-out;
}

/* password-reset page */

.reset-div p{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    color: #000000;
    text-align: center;
}
.form-rest{
    padding: 15px 0!important;
}


/* Dashboard page left */


.left-menu{
    background-color: #fff;
    width: 70px;
    height: auto;
    position: fixed;
    z-index: 2;
}
.dashboard-img{
    width: 20px;
    height: 94px;
    position: absolute;
    top: -2%;
    left: 50%;  
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.icon-left{
    width: 70px;
    height: 350px;
    position: absolute;
    top: 4%;
    left: 50%;  
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    background-color: #fff;
}
.icon-a{
    display: block;
    background-color: #fff;
    width: 70px;
    height: 70px;
    text-align: center;
}
.icon-active{
    background-color: #F8F9FB!important;
}
.i-active{
    color: #F1556B!important;
} 
.menu-icon-left{
    margin: 23px 0;
    color: #D6DAE5;
    font-size: 24px!important;
    height: 24px;
}
.setting-div{
    position: fixed;
    bottom:5px;
    background-color: #fff;
}

/* Dashboard right page  */
.dashboard-all{
    width: calc(100% - 70px);
    background-color: #F8F9FB;
    margin-left: 70px;
}

/* menu section-1 */
.stick-top{
    background-color: #F8F9FB;
    height: 149px;
}

.stick-top-2{
    background-color: white;
    height: 70px;
}
.number-add-edit{
    width: 19px;
    height: 38px;
    border: none;
    background-color: white;
    margin-top: 5px;
}
.involve-team , .complete-in{
    padding: 10px 20px;
    color: white;
    background-color: #ff1642;
    border: none;
    border-radius: 6px;
    margin: 19px 0;
    cursor: pointer;
}
 .complete-in{
    background-color: #39af39 !important;
 }


.user-img-div{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.profile-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.menu-all{
    display: flex;
    line-height: 82px;
}
.a-links{
    margin: auto;
}
.link-red{
    color: #FF0024!important;
}
.link-red div{
    background-color: #FF0024!important;
}
.users{
    display: flex;
    cursor: pointer;
}
.project{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.link-a{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    margin: 0 10px;
    display: inline-block;
}
.link-a:hover {
    text-decoration: none;
    color: black;
}
.active{
    border-bottom: 1px solid #000000;
    padding: 5px 0;
}
.link-number{
    display:inline-block;
    width: 25px;
    height: 16px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.user-name{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    color: #000000;
    margin-right: 5px;
}
.container-fluid{
    padding-right: 60px;
    padding-left: 40px;
}
/* menu 2 */
.input-dashboard{
    width: 224px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(230, 234, 241, 0.25);
    border-radius: 10px;
}
.input-dashboard input{
    height: 40px!important;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #818BA7;
    border-color: rgba(230, 234, 241, 0.25);
    border-radius: 10px;
    border-left: none;
}
.input-dashboard input:focus{
    box-shadow: none;
    border-color: rgba(230, 234, 241, 0.25);
}
.input-group-text {
    background-color: white!important;
    border-right: none;
    border-radius: 10px;
    padding: 9px 9px;
    border: 1px solid white;
}
.sort-button{
    width: 174px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(230, 234, 241, 0.25);
    border-radius: 10px;
    border: 1px solid white;
  
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
.sort-button span {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #818BA7;  
    padding-right: 5px;
}
.humburger-icon button{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(230, 234, 241, 0.25);
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}
.prodict-icon button{
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}
.sort-div{
    display: flex;
}
.menu-section-2{
    display: flex;
    justify-content: space-between;
}
button:active {
    outline: none;
    border: none;
}
 
button:focus {outline:0;}

/* project team cart */

.team-cart{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(230, 234, 241, 0.25);
    border-radius: 10px;
    margin: 10px 0;
}
.media{
    padding: 15px;
    position: relative;
}
.user-project-edit{
    position: absolute;
    top: 10px;
    right: 1px;
    color: green;
    cursor: pointer;
}
.user-project-delete{
    position: absolute;
    top: 32px;
    right: 5px;
    cursor: pointer;
    color: #F1556B;
}
.user-project-calendar-id{
    position: absolute;
    top: 56px;
    right: 6px;
    cursor: pointer;
}
.user-project-calendar-id a{
     color: #F1556B;
}

.user-project-calendar-id-2{
    position: absolute;
    top: 8px;
    right: 5px;
    cursor: pointer;
}
.user-project-calendar-id-2 a{
     color: #F1556B;
}
.end-content-start-b{
    justify-content: flex-end!important;
}

.team-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}
.team-name{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.team-time{
    color: #818BA7;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
}
.team-cart-line{
    width: 100%;
    height: 0px;
    border: 1px solid rgba(64, 92, 133, 0.05);
    margin: 13px 0;
}
.posting-on{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
}
.sosial-buttons{
    margin-bottom: 15px;
}
.sosial-buttun{
    width: 70px;
    height: 22px;
    background: white;
    border-radius: 6px;
    border: 1px solid #D6DAE5;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #D6DAE5;
    margin: 5px 0;
    cursor: pointer;
}
.user-img{
    width: 30px;
    height: 30px;
    background-blend-mode: normal;
    border-radius: 8px;
}
.ready-t0{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin: 12px 0;
}

.line-range-all{
    width: 100%;
    height: 2px;
    background: #D6DAE5;
    border-radius: 300px;
    position: relative;
    margin-top: 24px;
}
.range-color{
    position: absolute;
    width: 36px;
    height: 2px;
    background: #F1556B;
    border-radius: 300px;
}
.range-number{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #F1556B;
    position: absolute;
    top: -15px;
    left: 30px;
}
.facebook{
    box-shadow: 0px 4px 10px rgba(87, 110, 165, 0.1);
    border: 1px solid #576EA5;
    box-sizing: border-box;
    border-radius: 6px;
    color: #576EA5;
}
.instagram{
    border: 1px solid #A74797;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(221, 59, 102, 0.1);
    border-radius: 6px;
    color: #A84796;
}
.youtobe{
    border: 1px solid #FF0000;
    box-sizing: border-box;
    border-radius: 6px;
    color: #FF0000;
}
.vkontact{
    border: 1px solid #5181B8;
    box-sizing: border-box;
    border-radius: 6px;
    color: #5181B8;
}
.twither{
    border: 1px solid #41ABE1;
    box-sizing: border-box;
    border-radius: 6px;
    color: #41ABE1;
}
.linkedin{
    border: 1px solid #006394;
    box-sizing: border-box;
    border-radius: 6px;
    color: #006394;
}
.button-open{
    position: relative;
}
.click-open-close{
    width: 52px;
    height: 52px;
    background: #F1556B;
    box-shadow: 0px 4px 10px rgba(216, 57, 79, 0.25);
    border-radius: 50px;
    border-color: rgba(216, 57, 79, 0.25);
    position: absolute;
    bottom: 30px;
    position: fixed;
    right: 15px;
    cursor: pointer;
}
  .popap_active {
    transform: scale(1);
    box-shadow: 0 0 50px 5px #000;
  }
  
  .btn-menu {
    z-index: 1058;
  }
  .btn-menu span {
    background-color: #fff;
    width: 37%;
    display: block;
    height: 0;
    position: relative;
    transition: 0.1s;
    top: 25px;
    left: 16px;
  }
  .btn-menu span:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s;
    top: 0px;
    transform: rotate(45deg);

  }
  .btn-menu span:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s;
    top: 0px;
    transform: rotate(-45deg);
  }
  .btn-menu_active span {
    background-color: #000;
  }
  .btn-menu_active span:after {
    transform: rotate(90deg) translate(0,2px);
    left: 2px;
  }
  .btn-menu_active span:before {
    transform: rotate(0deg) translate(-2px,0px);;
    left: 2px;
  }
 
  /* modal create 3 */

  .modal-create-three{
      display: flex;
      position: absolute;
      left: 40%;
      top: 50%;
      transform: translate(-33%, -47%)!important;
  }
  .modal-create{
    margin: 0 10px; 
    height: 400px;
  }
  .modal-cantent{
    border-radius: 10px;
    border-color:rgba(151, 153, 156, 0.05);
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(151, 153, 156, 0.05);
    border-radius: 10px;
    border-color:white;
    padding: 15px 15px;
    height: 370px;
  }
  .card-img-div{
    width: 208.23px;
    height: 140px;
    padding: 0 10px;
  }
  .card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .card-title{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }
  .card-content-about{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: #000000;
  }

  .card-button{
    width: 100%;
    height: 44px;
    background: #F1556B;
    border-color:rgba(216, 57, 79, 0.25) ;
    box-shadow: 0px 4px 10px rgba(216, 57, 79, 0.25);
    border-radius: 10px;
    margin-top: 5px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }
  .card-button:focus{
    background: #FB6C42;
    border-color:rgba(216, 57, 79, 0.25) ;
  }
  .modall-blue{
    background: rgba(192, 200, 216, 0.7);
  }
  .card-input-three{
    height: 44px;
    width: 100%;
    background: #F8F9FB;
    border:1px solid #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #818BA7;
  }
  .card-input-three:focus{
    outline: none;
  }
.start-project-button:hover{
   color: #F1F2F6;
}

  /* three card create project modal */

.create-project-card-img-div{
    width: 20px;
    height: 94px;
    margin: auto;
    margin-top: 20px;
}
.create-project-card-img{
    width: 100%;
    height: 100%;
}
.create-project-close{
    position: absolute;
    top: 20px;
    right: 20px;
}
.create-projeect-close-button{
    width: 40px;
    height: 40px;
    background: #F1556B!important;
    box-shadow: 0px 4px 20px rgba(31, 48, 81, 0.05);
    border-radius: 45px;
    border:1px solid #F1556B!important;
    color: #ffffff;
    cursor: pointer;
    
}
#myDIVc{
display: none;
}

.create-img-cureent{
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}
.label-name{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}
.create-project-input{
    background: #F3F5FA;
    border-radius: 8px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid #F3F5FA;
    color: #818BA7;
    margin-top: 5px;
}
.yoxdu-bele{
    background: #F3F5FA;
    border-radius: 8px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    height: 35px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #F3F5FA;
    color: #818BA7;
    margin-top: 5px;
    width: 50%;
    text-align: left;
}
.create-project-input-big{
    width: 100%;
    background: #F3F5FA;
    border: 1px solid #F3F5FA;
    border-radius: 8px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #818BA7;
}
.form-control:focus{
    box-shadow: none;
}
.create-project-title{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}
.create-project-content{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #888888;
}
#asigment-create{
    background: #F1556B!important;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    border: 1px solid #F1556B!important;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    padding: 5px 8px;
    margin: 4px 2px;
    cursor: pointer;
}
.asigment-create2{
    background: #F1556B!important;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    border: 1px solid #F1556B!important;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    padding: 5px 8px;
    margin: 4px 2px;
    cursor: pointer;
}
.create-project-dhash-button{
    width: 100%;
    height: 36px;
    border: 1px dashed #F1556B;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #F1556B;
    cursor: pointer;
}
.flow-butoon{
    background: #E9F9D5;
    box-shadow: 0px 1px 1px rgba(179, 185, 202, 0.05);
    border-radius: 6px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    border: 1px solid ;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #7AA93F;
    padding: 5px;
    margin: 4px 2px;
    border: 1px solid #E9F9D5;
    cursor: pointer;
}
.as-bub{
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(179, 185, 202, 0.05);
    border-radius: 6px;
    border: 1px solid #818BA7!important;
    border: 1px solid #fff;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #818BA7;
    height: 22px;
}
.flow-plus{
    background: #F1556B!important;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    border: 1px solid #F1556B!important;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    padding: 5px 8px;
    margin: 4px 2px;
    cursor: pointer;
    
}
.flow-pluss{
    background: #F1556B!important;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    border: 1px solid #F1556B!important;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    padding: 5px 8px;
    margin: 4px 2px;
    cursor: pointer;
    
}
.create-p-sosial{
    background: #F1F2F6;
    box-shadow: 0px 1px 1px rgba(179, 185, 202, 0.05);
    border-radius: 6px;
    width: 93.78px;
    height: 22px;
    border: 1px solid #F1F2F6;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #818BA7;
    cursor: pointer;
}

.create-project{
   max-width: 75%!important;
   margin: 0;
}
.modal-oz{
    box-shadow: 0px 2px 5px rgba(31, 48, 81, 0.05);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;   
    background-color: #FFFFFF;
    padding: 20px 20px;
    position: relative;
}
.project-logo-card{
    position: absolute; 
    top: 0; 
    border-right: 1px solid rgba(64, 92, 133, 0.15);
    height: 100%; 
    width: 70px;
}
.vv{
    position: relative;
}
.ayts{
    position: absolute;
    top: 7px;
    right: 8px;
}
.modal-body{
    padding: 5px 70px;
}
.modal-left-logog{
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    border-right: 1px solid rgba(64, 92, 133, 0.15);
}
.close{
    opacity: 8.1;
}
.range-label{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}
.custom-range{
    height: 0px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0!important;
    border-color:#DFDFE1 ;
}
input[type="range" i] {
    color:#DFDFE1 ;
}
.delete-project-button{
    border: 1px solid #D6DAE5;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #D6DAE5;
    width: 140px;
    height: 36px;
    cursor: pointer;
}
.start-project-button{
    border: 1px solid #D6DAE5;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: white;
    width: 140px;
    height: 36px;
    background: #F1556B;
    box-shadow: 0px 4px 10px rgba(216, 57, 79, 0.25);
    border-radius: 10px;
    cursor: pointer;
}
.rang-nu{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    color: #888888;
}
.create-project-body{
    
}
/* edit */

.edit-curent-div{
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
}
.edit-create-img-cureent{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.edit-button-img{
    position: absolute;
    top: 2px;
    right: 2px;
    border: 1px solid #F1556B;
    background: #F1556B;
    border-radius: 150px;
    color: white;
    font-size: 8px;
    font-weight: bolder;
    cursor: pointer;
}
.edit-files{
    
}
.edit-curent-div-file{
    width: 60px;
    height: 60px;
    position: relative;
}
.edit-file-name{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #818BA7;
    margin-top: 5px;
}
.edit-file-begin{
    margin-right: 10px;
    display: inline-block;
}
.Assigment-edit{
    width: 100%;
    height: auto;
    background: #F3F5FA;
    border-radius: 8px;
    border: 1px solid #F3F5FA;
    padding:10px 10px ;
    position: relative;  
}
.edit-user-delete{
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(179, 185, 202, 0.05);
    border-radius: 6px;
    border:1px solid #fff ;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #818BA7;
    height: 22px;  
    margin: 5px 5px;
}
.delete-edit-user{
    cursor: pointer;
}
.edit-time{
    background: #F1F2F6;
    box-shadow: 0px 1px 1px rgba(179, 185, 202, 0.05);
    border-radius: 6px;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid #F1F2F6;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #818BA7;
    height: 22px;
    width: 62px;
    margin:5px 7px;
    cursor: pointer;
}
.edit-projeect-close-button{
    width: 40px;
    height: 40px;
    background:  #7AA93F!important;
    box-shadow: 0px 4px 20px rgba(31, 48, 81, 0.05);
    border-radius: 45px;
    border:1px solid #7AA93F!important;
    color: #ffffff;
    cursor: pointer;
}

/* comment */
.project-coment-div{
    width: 40px;
    height: 40px;
}
.coment-project-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.coment-project-div{
    display: flex;
}
.coment-name{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color: #000000;
}
.coment-project-name{
    margin-left: 10px;
}
.coment-project-name h6{
    font-family: 'PT Sans' ,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 6px;
    color: #888888;
}
.coment-title .h3{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-top: 15px;
}
.coment-title h6{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #888888;
}
.name-img-center div{
    width: 60px;
    height: 60px;   
    border-radius: 8px;
}
.name-img-center img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.name-img-center h6{
    font-family: 'PT Sans' ,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #818BA7;    
}
.name-img-center{
    margin-right:10px ;
}
.commit-img-prfiele{
    display: flex;
}
.user-commit-media .media img{
    width: 30px;
    height: 30px;
}
.user-commit-media .media .media-body h5{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;  
    color: #000000;    
}
.user-commit-media .media .media-body p{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #888888;    
}
.user-commit-media .media .media-body h6{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 8px;
    color: #888888;
}
.comm-line{
    width: 100%;
    border: 1px solid rgba(64, 92, 133, 0.05);
    height: 0px;
    margin: 10px 0;
}
.commit-number {
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    cursor: pointer;
    color: #F1556B;    
}
.start-and-due-data{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;   
}
.due-date h6{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;  
    color: #F1556B;   
    font-weight: bold; 
}
.due-date{
    margin-top: 50px;
}
.posting-button h2{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;    
}
.button-div button{
    background: #F1F2F6;
    box-shadow: 0px 1px 1px rgba(179, 185, 202, 0.05);
    border-radius: 6px;
    border: 1px solid #F1F2F6;;
    width: 62px;
    height: 22px;
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #818BA7;    
    cursor: pointer;   
    margin: 3px; 
}
.change-button{
    background-color: white!important;
}
.commit-flow h2{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}
.flow-commit-bottom button{
    background: #E9F9D5;
    box-shadow: 0px 1px 1px rgba(179, 185, 202, 0.05);
    border-radius: 6px;
    width: 70px;
    border: 1px solid #E9F9D5;
    height: 22px; 
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #7AA93F;   
}
.assigment-button h2{
    font-family:'PT Sans',sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}
.assigment-button .button-div button{
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #818BA7;    
    width: 130px;
    height: 22px;
    background: #F1F2F6;
    box-shadow: 0px 1px 1px rgba(179, 185, 202, 0.05);
    border-radius: 6px;
}
.commit-cange-button{
    background: #FFFFFF;
    border: 1px solid #D6DAE5!important;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(31, 48, 81, 0.05);
    border-radius: 45px;
    width: 40px;
    height: 40px;
}


/* profile */

.emp-profile{
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 200px;
    height: 190px;
    border-radius: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -35%;
    width: 40%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #F1556B;
    border-radius: 10px;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-cahnhe-button{
    width: 100%;
    height: 44px;
    background: #F1556B;
    border: 1px solid #F1556B;
    box-shadow: 0px 4px 10px rgba(216, 57, 79, 0.25);
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 13px 0;
    cursor: pointer;
}
.profile-logo{
    width: 235px;
    height: auto;
    margin-bottom: 40px;
}
.profile-inputt{
    color: #F1556B!important;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.menu-section-5{
    display: flex;
}


/* calendar */
.calendar-timme{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    line-height: 39px;
    margin-right: 30px;
    width: 115px;
}
.calendar-table{
    display: inline-block;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin:10px 8px ;
    height: 126px;

}
.calendar-red{
    background: #D40C00;
    background-blend-mode: normal;
    border-radius: 8px;
    width: 10px;
    height: 10px;
}
.calendar-green{
    width: 10px;
    height: 10px;   
    background: #682CBF;
    background-blend-mode: normal;
    border-radius: 8px;
    margin: 6px 0;
}
.calendar-blue{
    width: 10px;
    height: 10px; 
    background: #00A5F9;
    background-blend-mode: normal;
    border-radius: 8px;
}
.calendar-color{
    margin: 10px 12px;
}
.month-week{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
       
}
.week-month{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    color: #6c757d;
}
.div-calendar-plan{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;   
    margin-top: 10px; 
}
.save-plan{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #818BA7;
    cursor: pointer;
}
.calendar-grid {

    width:100%;
    grid-gap: 10px 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3em 2em;
    grid-auto-rows: 1fr;
}
.calendar-save-date-time{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border: 1px solid #F1556B;
    border-radius: 10px;
}
.calendar-see-date-time{
    transform: translate(-50%,5%);
    position: absolute;
    left: 50%;
}


.first-day {
    grid-column-start: 4;
}

.calendar-dayname {
    padding:.2em;
    text-align:center;
    background:#F1556B;
    color:white;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    border-radius: 10px;
}
  
.calendar-title {
    text-align:center;
    grid-column: 2 / -2;
    font-size: 2em;
}
  
.calendar-nav a {
    display:block;
    width:100%;
    height:100%;
    font-size: 2em;
    cursor: pointer;
  }
.fa-caret-square-left ,.fa-caret-square-right{
    color: #F1556B;
}
.calendar-nav__right {
    text-align: right;
  }
.modal-header{
    border-bottom: none;
}
.calendar-input{
    font-family:  'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    height: 283px;    
    background: #F8F9FB;
    border-radius: 10px;    
    color: #818BA7;    
    padding: 10px;
    border: 1px solid #F8F9FB;
}
.modal-footer {
    border-top: none;
    justify-content: start;
}
.c-btn{
z-index:12;
}
textarea:focus {
    outline: none;
}
.calendar-modal{
    background: rgba(179, 182, 187, 0.7);;
}
#inputState{

    background: #FFFFFF;
    border: 1px solid #F1556B;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(31, 48, 81, 0.05);
    border-radius: 10px;
    width: 141px;
    height: 36px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #818BA7;    
}

.input-group-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #FFFFFF!important;
    border: 1px solid white!important;
    border-radius: 10px!important;
}
.calender-date-input{
    width: 166px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(31, 48, 81, 0.05);
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #818BA7;
}
.calender-time-input{
    width: 70px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #F1556B;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(31, 48, 81, 0.05);
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #818BA7;    
}
.cla-col{
    padding-left: 8px;
    padding-right: 8px;
}
.calander-done{
    width: 100px;
    height: 44px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #F1556B;
    box-shadow: 0px 4px 10px rgba(216, 57, 79, 0.25);
    border-radius: 10px;    
    margin-left: 20px!important;
}
.calander-done:hover{
    color: white;
}
.label-calendar{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;  
    text-align: center;  
    position: absolute;
    top: -20px;
    left: 18px;
}
.calendar-option-1{
    width: 129.41px!important;
    height: 25px!important;
    padding: 20px;
    background: #D40C00;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;    
}
.calendar-option-2{
    background: #682CBF;
    border-radius: 10px;
    color: #FFFFFF; 
}
.calendar-option-3{
    background: #00A5F9;
    border-radius: 10px;
    color: #FFFFFF; 
}
.edit-uppload-calendar{
    width: 102px;
    height: 102px;  
    background: #FFFFFF;
    border: 1px dashed #F1556B;
    box-sizing: border-box;
    border-radius: 10px;  
    font-size: 40px; 
    color: #F1556B;
}

.modal-foote{
    position: absolute;
    bottom: 0;
    right: 0;
}
.modal-calendar-dialoq{
    max-width: 650px;
}
.modal-close-btnn{
    width: 150px;
    height: 44px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #F1556B;
    box-shadow: 0px 4px 10px rgba(216, 57, 79, 0.25);
    border-radius: 10px;
    margin-left: 20px!important;    
}
.modal-close-btnn:hover{
   color: white;
}
.modal-2-mounth{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    
    color: #000000;    
}
.file-upload{
    width: 102px;
    height: 102px;
}

.logoContainer{
    width: 177px;
    height: 177px;
    margin: auto;
    text-align: center;

    margin:auto;
	/*background: url(http://img1.wikia.nocookie.net/__cb20130901213905/battlebears/images/9/98/Team-icon-placeholder.png) no-repeat 0 0;*/

}
.logoContainer img{
    max-width: 100%;
    height: 82%;
    object-fit: contain;
    margin: auto;
    border-radius: 10px;
}
#logo-edit-dashboard-up{
        width: 94px;
        height: 92px;
}

.fileContainer{
	background:#ccc;/* you can give it background img as well or any style you want*/
    width: 96px;
    margin:auto;

    text-align: center;
	overflow:hidden;
	position:relative;
	font-size:16px;
	line-height: 31px;
	color:#434343;
	cursor: pointer !important;
}
.fileContainer span{
	overflow:hidden;
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
	cursor: pointer;
}
.fileContainer input[type="file"]{
	opacity:0;
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
	position: absolute;
	cursor: pointer;
}
#datetimepicker1{
    width: 206px;
    border: 1px solid  #F1556B!important ;
    border-radius: 10px;
}
.calender-date-input:focus {
    outline: none!important;
}
.post-add{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #F1556B!important;
    border-radius: 10px;
}
.calendar-logo img{
     width: 200px;
     height: 40px;
     object-fit: contain;
     margin-top: 20px;
 }
 .edit-div-none{
     position: absolute;
     top: 20px ;
     left: 0;
 }
 .edit-page-img-calendar:hover{
     transform: scale(1.3);
     transition: all .5s;
 }
     table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;

  }
.title-calendar-opst{
    color: white!important;
    background-color: #ea1c43!important;
}
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 4px;
    font-family: 'PT Sans', sans-serif;
  }

  tr:nth-child(even) {

    font-family: 'PT Sans', sans-serif;
  }
  .edit-page-img-calendar{
      width: 60px;
      height: 60px;
      margin: auto;
      transition: all .5s;
  }
  .edit-page-img-calendar img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
#edit-calendar-post , #delete-calendar-post{
   cursor: pointer!important;
}
#edit-calendar-post a{
    cursor: pointer!important;
    color: chartreuse;
 }
#delete-calendar-post a{
    color: red!important;
 }

